<div class="top">
  <h2>Enter your name to start a game of Rock, Paper & Scissors</h2>
</div>

<div class="form">

  <form action="/name" method="post">
    <input type="text" name="name">
    <input type="submit" value="Start game">
  </form>
</div>
