<div class="main">
  <p>Enter you name to start a game of Rock, Paper & Scissors</p>

  <form action="/name" method="post">
    <input type="text" name="name">
    <input type="submit" value="Start game">
  </form>
</div>
