<h1>Welcome <%= @game.player.name %></h1>

<ul>
  <li><a href="/selection?choice=Rock">Rock</a></li>
  <li><a href="/selection?choice=Paper">Paper</a></li>
  <li><a href="/selection?choice=Scissors">Scissors</a></li>
</ul>
