<h1>Welcome <%= @game.player.name%> to a game of Rock, Paper & Scissors</h1>

<h3>Choose your weapon!</h3>

<ul>
  <li><a href="/selection?choice=Rock">Rock</a></li>
  <li><a href="/selection?choice=Paper">Paper</a></li>
  <li><a href="/selection?choice=Scissors">Scissors</a></li>
</ul>
