<div class="top">
  <% if @winner.name == @game.opponent.name %>
    <h2>That SUCKS Man! <%= @winner.name %> wins!</h2>
  <% else %>
    <h2>Wow you are a profet! <%= @winner.name %> wins!</h2>
  <% end %>
</top>

<div class="menu">
  <a href="/" class="button">Play again<a/>
</div>
